<div class="container mt-4">

    <div class="row ">
        <h1 class="mb-2">Toppers</h1>
        <p>Scores greater than 80</p>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">Scores</th>

                </tr>
            </thead>
            <tbody *ngFor="let element of final">
                <tr *ngIf="greaterthan(element.Scores , 80)">
                    <th *ngIf="" scope="row">1</th>
                    <td>{{element.Name}}</td>
                    <td>{{element.Age}}</td>
                    <td>{{element.Scores}}</td>
                </tr>

            </tbody>
        </table>



    </div>
</div>