<mat-toolbar>



    <a [routerLink]="'/users'" mat-icon-button class="example-icon favorite-icon">

        <strong class="ml-2">&nbsp;&nbsp;&nbsp;Users &nbsp;&nbsp;</strong>
    </a>
    <br />
    <a [routerLink]="'/winners'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">

        <strong class="ml-2">&nbsp;&nbsp;&nbsp;&nbsp;Winners &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
    </a>
    <a [routerLink]="'/toppers'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">

        <strong class="ml-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Toppers</strong>
    </a>
    <br />
    <br />



</mat-toolbar>